.pagination {
	display: flex;
	align-self: center;
	justify-self: center;
	justify-content: center;
	box-shadow: var(--shadow-lg);
	width: fit-content;
	padding: 0.25rem;
	gap: 0.5rem;

	.paginationButton {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2rem;
		aspect-ratio: 1 / 1;
		border: none;
		border-radius: var(--border-radius-sm);
		background-color: var(--background-light);
		font: inherit;
		font-size: 1.125rem;
		line-height: 1;
		color: var(--text-primary);
		cursor: pointer;
		transition: background-color 0.2s ease;

		.icon {
			font-size: 1.25rem;
		}

		&.active {
			background-color: var(--color-primary);
			color: #fff;
		}
	}
}
