.contentEditable {
	position: relative;
	min-height: 150px;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	font-size: 1rem;
	outline: none;
}

.placeholder {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	opacity: 0.65;
}
