.settings-container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 1.5rem 2rem;

	.section {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.section-title {
			line-height: 1.25;
			font-size: 2rem;
			font-weight: 600;
			background: var(--gradient-primary);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
		}

		.section-description {
			font-size: 1rem;
			color: var(--text-secondary);

			.important {
				font-weight: 600;
			}
		}

		.options {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 1.25rem;
				border: 1px solid var(--border-color);
				border-radius: 6px;
				background: var(--hover-bg);

				div {
					flex: 1;

					p {
						display: flex;
						align-items: center;
						gap: 0.5rem;

						.status-dot {
							height: 0.5rem;
							aspect-ratio: 1 / 1;
							border-radius: 50%;

							&.active {
								background: var(--color-success);
							}

							&.inactive {
								background: var(--accent-danger);
							}
						}
					}

					h4 {
						font-size: 1rem;
						font-weight: 600;
						color: var(--text-primary);
					}

					small {
						font-size: 0.875rem;
						color: var(--text-secondary);
						margin: 0;
					}

					&.info {
						display: flex;
						flex-direction: column;
						gap: 0.25rem;
					}
				}
			}
		}
	}
}

.new-signature {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;

	.description {
		p {
			font-size: 1.5rem;
			color: var(--color-primary);
			font-weight: 600;
		}

		small {
			font-size: 0.875rem;
			color: var(--text-secondary);

			.important {
				font-weight: 600;
			}
		}
	}
}

.signature-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem;
}
