.rte-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-width: 100%;

	.input-group {
		.input {
			display: flex;
			gap: 0.5rem;

			input {
				flex-grow: 1;
				height: 1.5rem;
				font-size: 1rem;
				padding-left: 0.25rem;
				border: 1px solid #ccc;
				border-radius: 0.25rem;
				color: var(--text-primary);

				&:focus {
					outline: none;
					border-color: var(--color-primary);
					box-shadow: 0 0 0 2px var(--color-primary-light);
				}
			}

			label {
				font-size: 1rem;
			}

			select {
				height: 100%;
				font-size: 1rem;
				cursor: pointer;
			}

			.checkbox {
				width: 1.5rem;
				height: 1.5rem;
				cursor: pointer;
			}
		}
	}
}

.errors {
	list-style: none;
	padding: 0;
	margin: 1rem 0;
	color: var(--accent-danger);
	font-size: 0.875rem;
	text-align: center;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;

	.button {
		cursor: pointer;
		height: 3.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 2.5rem;
		font-size: 1.125rem;
		color: var(--text-secondary);
		text-decoration: none;
		transition: all 0.2s ease-in-out;
		font-weight: 500;
		position: relative;
		border-radius: var(--border-radius);
		border: 2px solid transparent;
		background:
			linear-gradient(var(--background-secondary), var(--background-secondary))
				padding-box,
			var(--gradient-primary) border-box;
		box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);

		span {
			transition: transform 0.2s ease-in-out;
			will-change: transform;
		}

		@media (hover: hover) {
			&:hover {
				transform: translateY(-0.125rem);
				box-shadow: 0.375rem 0.375rem 1.5rem rgba(0, 0, 0, 0.25);
				color: var(--color-primary);
				background:
					var(--gradient-accessible) padding-box,
					var(--gradient-primary) border-box;
			}
		}
	}
}
