.page-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	.header-section {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.info-row {
			height: 2rem;
			display: flex;
			gap: 0.5rem;
			align-items: center;
			font-size: 1.25rem;

			.label,
			.value {
				line-height: 0;
				display: flex;
				align-items: center;
			}

			.icon {
				font-size: 1.5rem;
				aspect-ratio: 1;
				margin: 0;
				padding: 0;
			}
		}

		.details-wrapper {
			display: flex;
			flex-direction: column;

			.header-details {
				display: flex;
				align-items: center;
				gap: 1.5rem;

				.name {
					font-size: 3.5rem;
					font-weight: 700;
					background: var(--gradient-primary);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					margin-bottom: 0.5rem;
				}
			}

			.contact-details {
				width: 100%;
				display: flex;
				gap: 1rem;

				.company-info {
					min-width: 25%;
				}

				.personal-info {
					min-width: 25%;
				}
			}

			.application-details {
				display: flex;
				flex-direction: column;
			}
		}
	}

	.activities-wrapper {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.nav {
			width: 100%;
			height: 2.5rem;
			padding: 0.25rem 0;
			display: flex;
			border-bottom: 2px solid var(--border-medium);
			gap: 1.5rem;
			align-items: end;

			h2 {
				line-height: 1.25;
				font-size: 2rem;
				font-weight: 500;
				color: var(--text-muted);
				opacity: 0.5;
				cursor: pointer;

				&.selected {
					background: var(--gradient-primary);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					opacity: 1;
				}

				&:not(.selected):hover {
					background: var(--gradient-primary);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
				}
			}
		}

		.activity {
			margin-top: 1rem;
			min-height: 8rem;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 2px solid var(--border-medium);
			border-radius: var(--border-radius-sm);
			background-color: var(--background-light);

			p {
				font-size: 1rem;
				color: var(--text-secondary);
			}
		}
	}
}
