.client {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	.content {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.nav {
		width: 100%;
		height: 2.5rem;
		padding: 0.25rem 0;
		display: flex;
		border-bottom: 2px solid var(--border-medium);
		gap: 1.5rem;
		align-items: end;

		button {
			line-height: 1.25;
			font-size: 2rem;
			font-weight: 500;
			color: var(--text-muted);
			opacity: 0.5;
			cursor: pointer;
			border: none;
			background: none;
			font-family: inherit;

			&.selected {
				background: var(--gradient-primary);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				opacity: 1;
			}

			&:not(.selected):hover {
				background: var(--gradient-primary);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
			}
		}
	}
}

.activity {
	margin-top: 1rem;
	min-height: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--border-medium);
	border-radius: var(--border-radius-sm);
	background-color: var(--background-light);

	p {
		font-size: 1rem;
		color: var(--text-secondary);
	}
}
