.settings-form-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	// REMOVE THIS WHEN FEATURE IS READY
	&.disabled {
		cursor: not-allowed !important;

		.send-limit {
			opacity: 0.5;
		}
	}

	.form {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		small {
			max-width: 50rem;
			font-size: 0.875rem;
			color: var(--text-secondary);

			.important {
				font-weight: 600;
			}
		}

		.section-title-wrapper {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.section-description {
				max-width: 50rem;
				font-size: 1rem;
				color: var(--text-secondary);
			}
		}

		.section-title {
			line-height: 1.25;
			font-size: 2rem;
			font-weight: 600;
			background: var(--gradient-primary);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
		}

		.section {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding: 0 1rem;

			.tile-grid {
				max-width: 60rem;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
				gap: 1rem;

				.tile-group {
					height: 8rem;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					gap: 1rem;
					border: 2px solid var(--border-medium);
					border-radius: var(--border-radius-sm);

					&.selected {
						border-color: var(--color-primary);
					}

					label {
						padding: 1rem;
						height: 100%;
						display: flex;
						flex-direction: column;
						gap: 1rem;
						cursor: pointer;
						font-weight: 600;
					}

					input[type='radio'] {
						display: none;
					}
				}
			}
		}

		.input-group {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			padding: 0.5rem 0;

			label {
				font-size: 1.25rem;
			}

			input,
			select {
				display: flex;
				align-items: center;
				max-width: 30rem;
				height: 2rem;
				font-size: 1.125rem;
				padding: 0 0.25rem;
				border-radius: var(--border-radius-sm);
				border: 1px solid var(--border-medium);
				color: var(--text-primary);

				&:focus {
					outline: 2px solid var(--color-primary);
				}

				&:disabled {
					background: var(--background-secondary);
					color: var(--text-muted);
					cursor: not-allowed;
				}
			}

			.input {
				display: flex;
				flex-direction: column;
				gap: 0.125rem;
			}

			select {
				cursor: pointer;
			}

			&.checkbox-group {
				flex-direction: row;
				gap: 1rem;

				label {
					cursor: pointer;

					&.disabled {
						cursor: not-allowed !important;
					}
				}

				input[type='checkbox'] {
					width: 1.25rem;
					height: 1.25rem;
					cursor: pointer;

					&:disabled {
						cursor: not-allowed !important;
					}
				}
			}
		}

		.send-limit {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;

			.info {
				display: flex;
				gap: 1rem;
				font-size: 1.25rem;

				.limit {
					color: var(--color-primary-hover);
				}
			}

			.upgrade {
				color: var(--color-primary);
				text-decoration: none;
				transition: color 0.2s ease;
				cursor: pointer;

				@media (hover: hover) {
					&:hover {
						color: var(--color-primary-hover);
					}
				}
			}
		}
	}
}
