.settingsContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	.nav {
		width: 100%;
		// height: 2.5rem;
		padding: 0.25rem 0;
		display: flex;
		justify-content: center;
		border-bottom: 2px solid var(--border-medium);
		align-items: center;

		h2 {
			line-height: 1.25;
			font-size: 1.75rem;
			font-weight: 500;
			color: var(--text-muted);
			opacity: 0.5;
			cursor: pointer;
			padding: 0 1.5rem;

			&.selected {
				background: var(--gradient-primary);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				opacity: 1;
			}

			&:not(.selected):hover {
				background: var(--gradient-primary);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
			}
		}

		.divider {
			height: 0.375rem;
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			background-color: var(--text-muted);
			opacity: 0.5;
		}
	}

	.tabContent {
		width: 100%;
	}
}
