.dashboardLayout {
	position: fixed;
	inset: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: var(--background-primary);

	// main content (side bar + dashboard)
	.mainContent {
		flex: 1;
		display: flex;
		overflow-y: hidden;

		.dashboardContent {
			flex: 1;
			padding: 1.5rem;
			overflow-y: auto;
			background: var(--background-tertiary);

			// Dashboard home page styles
			.dashboardHome {
				min-height: 100%;
				display: flex;
				flex-direction: column;
				margin: 0 auto;
				padding: 0 2rem;
				gap: 2rem;

				.welcomeSection {
					text-align: center;

					.welcomeTitle {
						font-size: 2.5rem;
						font-weight: 700;
						background: var(--gradient-primary);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-clip: text;
						margin-bottom: 0.5rem;
						line-height: 1.5;
					}

					.welcomeSubtitle {
						color: var(--text-secondary);
						font-size: 1.2rem;
					}
				}

				.previewTiles,
				.recentActivity {
					// outline: 1px solid teal;
					max-height: 20rem;
				}

				.previewTiles {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
					gap: 2rem;
				}

				.previewTile,
				.recentActivity {
					display: flex;
					flex-direction: column;

					.activity {
						margin-top: 1rem;
						min-height: 8rem;
						display: flex;
						align-items: center;
						justify-content: center;
						border: 2px solid var(--border-medium);
						border-radius: var(--border-radius-sm);
						background-color: var(--background-light);

						p {
							font-size: 1rem;
							color: var(--text-secondary);
						}
					}
				}

				.sectionTitle {
					font-size: 1.5rem;
					font-weight: 600;
					color: var(--text-primary);
				}
			}
		}
	}
}

// Responsive design
@media (max-width: 768px) {
	.welcomeTitle {
		font-size: 2rem;
	}
}

@media (max-width: 640px) {
	.mainContent {
		flex-direction: column;
	}

	.content {
		padding: 1rem;
		order: 1;
		flex: none;
		min-height: 60vh;
	}

	.welcomeTitle {
		font-size: 1.75rem;
	}
}
